.mce-content-body {
    background: #2F3036;
    color: #f0efef;
}
p {font-size: 16px; margin-bottom: 20px; line-height: 26px;}
h1 {font-size: 32px;}
h2 {font-size: 23px;}
h3 {font-size: 19px;}
h4 {font-size: 16px;}
h5 {font-size: 16px;}

img {width: 100%; height: auto}